<!-- List -->
<div class="list">
  <!-- Action Type -->
  <div class="type">
    <h4>Action</h4>
    <div class="items">
      <!-- Item -->
      <movie-item *ngFor="let movie of model.actionMovies" [data]="movie" (onClick)="model.toDetails(movie)"></movie-item>
    </div>
  </div>

  <!-- Drama Type -->
  <div class="type">
    <h4>Drama</h4>
    <div class="items">
      <!-- Item -->
      <movie-item *ngFor="let movie of model.dramaMovies" [data]="movie" (onClick)="model.toDetails(movie)"></movie-item>
    </div>
  </div>

  <!-- Crime Type -->
  <div class="type">
    <h4>Crime</h4>
    <div class="items">
      <!-- Item -->
      <movie-item *ngFor="let movie of model.crimeMovies" [data]="movie" (onClick)="model.toDetails(movie)"></movie-item>
    </div>
  </div>
</div>
