// Variables

/* Colors */
$primaryColor: #99078d;

/* Fonts */
$mainFont: 'Poppins', sans-serif;
$mainArabicFont: 'Noto Naskh Arabic', sans-serif;
$mainFontSize: 16px;

/* Media Queries */
$xsScreen:'max-width:767px';
$smMinScreen:'min-width:768px';
$smMaxScreen:'max-width:992px';
$mdMinScreen:'min-width:992px';
$lgScreen:'min-width:1200px';
